.page {
  background-image: url("/img/soccer.jpg");
  background-position: top;
  background-repeat: repeat-x;
  background-color: $black;
  min-height: 70vh;
}
.info{
  background: $white;
  display: block;
  border-radius: 8px;
  padding: 12px;
  min-height: 500px;
  &.small{
    min-height: 315px;
  }
}
//Pronosticos
.mensaje {
  background: $primary-color;
  border-radius: 8px;
  padding: 12px;
  color: $white;
  font-size: 0.9em;
  line-height: 18px;
  min-height: 80px;
  margin-bottom: 24px;
  strong {
    text-transform: uppercase;
    display: block;
  }
}

.acumulado {
  background: $secondary-color;
  border-radius: 8px;
  padding: 12px;
  color: $white;
  font-size: 0.9em;
  line-height: 18px;
  min-height: 80px;
  margin-bottom: 24px;
  strong {
    text-transform: uppercase;
    display: block;
  }
  .puntos {
    font-size: 3em;
    font-weight: 600;
    letter-spacing: -1px;
    padding-right: 10px;
    line-height: 50px;
  }
}

.tabs-title {
  width: 20%;
  a {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.6em;
    padding: 0.6rem 1rem;
    @include breakpoint(medium){
      font-size: 1.1em;
      padding: 1.25rem 1.5rem
    }
  }
}

.tabs-content {
  border: 0px;
  border-top: 0;
  background: none;
  color: white;
  transition: all 0.5s ease;
}

.tabs {
  margin: 0;
  border: 0px;
  background: $white;
  border-radius: 8px;

}
//grupos
.match {
  margin: 6px 0;
  .head {
    background: $primary-color;
    color: $white;
    text-transform: uppercase;
    font-size: 0.8em;
    min-height: 30px;
    border-radius: 8px 8px 0 0;
    line-height: 40px;
    padding: 0 0 0 12px;
    font-weight: 600;

    .points {
      display: inline-block;
      float: right;
      background: $secondary-color;
      border-radius: 0px 8px 0px 0px;
      width: 40px;
      text-align: center;
      font-weight: 600;
    }
  }
  .positions {
    background: $white;
    padding: 18px;
    .team{
      text-transform: uppercase;
      font-size: 0.7em;
      padding: 3px;
      color: $black;
      font-weight: 500;
    }
    .column, .columns {
      padding-right: 0.3rem;
      padding-left: 0.3rem;
    }
  }
  .teams {
    background: #E9EAED;
    padding: 18px;
    .team{
      text-transform: uppercase;
      font-size: 0.7em;
      padding: 3px;
      color: $black;
      font-weight: 500;
    }
    .column, .columns {
      padding-right: 0.3rem;
      padding-left: 0.3rem;
    }
  }
  .versus{
    background: $white;
    padding: 4px 18px 0px 18px;
    .team{
      text-transform: uppercase;
      font-size: 0.7em;
      padding: 3px;
      color: $black;
      font-weight: 500;
      line-height: 32px;
    }
    .column, .columns {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  }
  .social{
    background: #d2d3d5;
    border-radius: 0px 0px 8px 8px;
    min-height: 32px;
    padding: 4px;
  }
}
//Eliminacion
.fase-title{
  border-radius: 8px;
  border: 2px solid $white;
  width: 86%;
  text-align: center;
  text-transform: uppercase;
  padding: 6px;
  margin-bottom: 12px;
  font-weight: 500;
}
.tabs-panel.is-active {
  width: 100%;
  overflow-x: auto;
}
.container-teams{
  width: 1200px;
  background-image: url("/img/lines.png");
  background-repeat: no-repeat;
  overflow: hidden;
  .col1{
    width: 86%;
  }
  .semis {
    margin: 250px 0;
    display: inline-block;
  }
  .cuartos{
    margin: 82px 0;
    display: inline-block;
  }
  .final{
    margin: 557px 0;
    display: inline-block;
  }

  .fase{
    display: inline-block;
    width: 25%;
    padding: 0 10px;
    float: left;
  }
  [type='text']{
    margin: 0 0 0.3rem;
  }
}

//Ligas

.ligas{
  .tabs-title {
    width: 33.3%;
    a {
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 0.9em;
      @include breakpoint(medium){
        font-size: 1.1em;
      }
    }
  }

  .tabs-content {
    border: 0px;
    border-top: 0;
    color: $black;
    background: $white;
    transition: all 0.5s ease;
    min-height: 480px;
  }

  .tabs {
    margin: 0;
    border: 0px;
    background: $white;
    border-radius: 8px 8px 0 0;
    &:hover{
      border-radius: 8px 8px 0 0;
    }
  }
}