.login {
  background: $predictor4;
  padding: 40px 0;
  color: $white;
  h2 {
    color: $white;
    font-size: 1.6em;
    text-transform: uppercase;
  }
  .title {
    color: $white;
    font-size: 1.2em;
    padding-bottom: 12px;
  }
  .texto {
    font-size: 0.8em;
  }
  .button {
    margin-top: 16px;
    margin-bottom: 50px;
    @include breakpoint(medium) {
      margin-bottom: inherit;
    }
  }
  a.link {
    color: $white;
    &:hover, &.active {
      color: $secondary-color;
    }
  }
  color: $white;
  label, .help-text{
    color: $white;
  }
  &.out {
    display: none;
    &.show{
      display: block;
    }
  }
  &.in {
    display: none;
    padding-top: 50px;
    .usuario {
      margin-top: 10px;
      text-transform: uppercase;
    }
  }
}
