<div class="top-nav">
    <div class="row">
        <div class="medium-2 medium-offset-10 columns">
            <ul class="lang">
                <li><a class="active" href="#">Español</a></li>
                <li><a href="#">English</a></li>
            </ul>

        </div>
    </div>
</div>
<div class="header  sticky" data-sticky data-margin-top="0"">
    <div class="row">
        <div class="medium-3 columns">
            <img class="logo" src="assets/img/logo.png" alt="">
        </div>
        <div class="medium-9 columns">
            <div class="barra" data-responsive-toggle="menu-predictor" data-hide-for="medium">
                <button class="menu-icon" type="button" data-toggle="menu-predictor"></button>
            </div>
            <div id="menu-predictor">
                <ul class="vertical medium-horizontal menu align-left">
                    <li><a class="active" href="/">Inicio</a></li>
                    <li><a href="pronosticos.html">Mis pronósticos</a></li>
                    <li><a href="ligas.html">Ligas</a></li>
                    <li><a href="ranking.html">Ranking</a></li>
                    <li><a href="como-jugar.html">Cómo jugar</a></li>
                    <li><a href="premios.html">Premios</a></li>
                    <li><a  onclick="$('.login').slideToggle();" class="login" href="#">Jugar</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- LOGIN -->
<div class="login">
    <div class="row">
        <div class="medium-4 medium-offset-2 columns">
            <h2>Iniciar sesión</h2>
            <div class="title">¿Ya tiene cuenta de usuario?</div>
            <div class="texto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                ultricies lectus at posuere. Nulla quis justo magna. Etiam
                velit at arcu semper, ac fringilla quam cursus.
            </div>
            <a href="#" class="button expanded">Iniciar sesión en Facebook</a>
        </div>
        <div class="medium-4 columns end">
            <h2>Registrate</h2>
            <div class="title">¿Aún no es miembro?</div>
            <div class="texto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                ultricies lectus at posuere. Nulla quis justo magna. Etiam
                velit at arcu semper, ac fringilla quam cursus.
            </div>
            <a href="#" class="button expanded">Iniciar sesión en Facebook</a>
        </div>
    </div>
</div>
<!-- End Login-->